img{
  max-width: 100%;
}

textarea{
border: 1px solid #ced4da;
border-radius: .25rem;
}

canvas{
  max-width: 100%;
}


.bordered-body{
  padding: 1em 1em;
  border: 1px solid grey;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
}
